<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Slideshow - TonDev</title>
</head>
<body>
    
    <div class="carousel">
        <div class="timer"></div>
        <div class="control">
            <button type="button" id="prev"><</button>
            <button type="button" id="next">></button>
        </div>
        <div class="list">
            <div class="item atlas">
                <img src="/static/images/atlas.jpg" alt="Atlas">
                <div class="content">
                    <h4>TonDev</h4>
                    <h2>Design Slider</h2>
                    <h1>Atlas</h1>                   
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione omnis quaerat beatae repudiandae vel eligendi ipsam eaque dicta, perferendis sequi incidunt expedita quasi ipsa fugiat culpa laborum totam, et doloremque!</p>
                    <div class="options">
                        <button type="button">See More</button>
                        <button type="button">Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item spiderman">
                <img src="/static/images/spider_man_no_way_home_poster.jpg" alt="Spiderman: No Way Home">
                <div class="content">
                    <h4>TonDev</h4>
                    <h2>Design Slider</h2>
                    <h1>Spiderman: No Way Home</h1>                   
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione omnis quaerat beatae repudiandae vel eligendi ipsam eaque dicta, perferendis sequi incidunt expedita quasi ipsa fugiat culpa laborum totam, et doloremque!</p>
                    <div class="options">
                        <button type="button">See More</button>
                        <button type="button">Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item avatar">
                <img src="/static/images/avatar_the_way_of_the_water.jpg" alt="Avatar">
                <div class="content">
                    <h4>TonDev</h4>
                    <h2>Design Slider</h2>
                    <h1>Avatar: The Way Of The Water</h1>                   
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione omnis quaerat beatae repudiandae vel eligendi ipsam eaque dicta, perferendis sequi incidunt expedita quasi ipsa fugiat culpa laborum totam, et doloremque!</p>
                    <div class="options">
                        <button type="button">See More</button>
                        <button type="button">Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item black">
                <img src="/static/images/black_panther.jpg" alt="Black Panther">
                <div class="content">
                    <h4>TonDev</h4>
                    <h2>Design Slider</h2>
                    <h1>Black Panther</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione omnis quaerat beatae repudiandae vel eligendi ipsam eaque dicta, perferendis sequi incidunt expedita quasi ipsa fugiat culpa laborum totam, et doloremque!</p>
                    <div class="options">
                        <button type="button">See More</button>
                        <button type="button">Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item dune">
                <img src="/static/images/dune_part_two.jpg" alt="Dune">
                <div class="content">
                    <h4>TonDev</h4>
                    <h2>Design Slider</h2>
                    <h1>Dune: Part two</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione omnis quaerat beatae repudiandae vel eligendi ipsam eaque dicta, perferendis sequi incidunt expedita quasi ipsa fugiat culpa laborum totam, et doloremque!</p>
                    <div class="options">
                        <button type="button">See More</button>
                        <button type="button">Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item inside">
                <img src="/static/images/inside_out_2.jpg" alt="Inside out">
                <div class="content">
                    <h4>TonDev</h4>
                    <h2>Design Slider</h2>
                    <h1>Inside Out 2</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione omnis quaerat beatae repudiandae vel eligendi ipsam eaque dicta, perferendis sequi incidunt expedita quasi ipsa fugiat culpa laborum totam, et doloremque!</p>
                    <div class="options">
                        <button type="button">See More</button>
                        <button type="button">Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item lion">
                <img src="/static/images/lion_king.jpg" alt="Lion King">
                <div class="content">
                    <h4>TonDev</h4>
                    <h2>Design Slider</h2>
                    <h1>Lion King</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione omnis quaerat beatae repudiandae vel eligendi ipsam eaque dicta, perferendis sequi incidunt expedita quasi ipsa fugiat culpa laborum totam, et doloremque!</p>
                    <div class="options">
                        <button type="button">See More</button>
                        <button type="button">Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item wicked">
                <img src="/static/images/wicked_part_one.jpg" alt="Wicked Part One">
                <div class="content">
                    <h4>TonDev</h4>
                    <h2>Design Slider</h2>
                    <h1>Wicked: Part one</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione omnis quaerat beatae repudiandae vel eligendi ipsam eaque dicta, perferendis sequi incidunt expedita quasi ipsa fugiat culpa laborum totam, et doloremque!</p>
                    <div class="options">
                        <button type="button">See More</button>
                        <button type="button">Subscribe</button>
                    </div>
                </div>
            </div>

            <div class="item dead">
                <img src="/static/images/deadpool_and_wolverine.jpg" alt="Deadpool and Wolverine">
                <div class="content">
                    <h4>TonDev</h4>
                    <h2>Design Slider</h2>
                    <h1>Deadpool and Wolverine</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione omnis quaerat beatae repudiandae vel eligendi ipsam eaque dicta, perferendis sequi incidunt expedita quasi ipsa fugiat culpa laborum totam, et doloremque!</p>
                    <div class="options">
                        <button type="button">See More</button>
                        <button type="button">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="thumbnails">
            <div class="list">
                <div class="thumbnail">
                    <img src="/static/images/atlas.jpg" alt="Atlas">
                    <div class="content">
                        <h4>Atlas</h4>
                        <p>Desc</p>
                    </div>
                </div>

                <div class="thumbnail">
                    <img src="/static/images/spider_man_no_way_home_poster.jpg" alt="Spiderman: No Way Home">
                    <div class="content">
                        <h4>Spiderman</h4>
                        <p>Desc</p>
                    </div>
                </div>

                <div class="thumbnail">
                    <img src="/static/images/avatar_the_way_of_the_water.jpg" alt="Avatar">
                    <div class="content">
                        <h4>Avatar</h4>
                        <p>Desc</p>
                    </div>
                </div>

                <div class="thumbnail">
                    <img src="/static/images/black_panther.jpg" alt="Black Panther">
                    <div class="content">
                        <h4>Black Panther</h4>
                        <p>Desc</p>
                    </div>
                </div>

                <div class="thumbnail">
                    <img src="/static/images/dune_part_two.jpg" alt="Dune">
                    <div class="content">
                        <h4>Dune</h4>
                        <p>Desc</p>
                    </div>
                </div>

                <div class="thumbnail">
                    <img src="/static/images/inside_out_2.jpg" alt="Inside out">
                    <div class="content">
                        <h4>Inside out</h4>
                        <p>Desc</p>
                    </div>
                </div>

                <div class="thumbnail">
                    <img src="/static/images/lion_king.jpg" alt="Lion King">
                    <div class="content">
                        <h4>Lion King</h4>
                        <p>Desc</p>
                    </div>
                </div>

                <div class="thumbnail">
                    <img src="/static/images/wicked_part_one.jpg" alt="Wicked Part One">
                    <div class="content">
                        <h4>Wicked</h4>
                        <p>Desc</p>
                    </div>
                </div>

                <div class="thumbnail">
                    <img src="/static/images/deadpool_and_wolverine.jpg" alt="Deadpool and Wolverine">
                    <div class="content">
                        <h4>Deadpool and Wolverine</h4>
                        <p>Desc</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/static/app.js" defer></script>
</body>
</html>